/*CUSTOM*/

.cambio-home {
  background-color: #56A85E;
}

.sesion{
  font-family: Poppins-Medium;
  font-size: 14px !important;
  color: #333;
}

.hov-nuevo:hover{
  color: #56A85E;
}

.cls-1 {
  fill: none;
  stroke: #56A85E;
  stroke-width: 5.5px;
  fill-rule: evenodd;
}

.cls-2{
  fill: none;
  stroke: #56A85E;
  stroke-width: 5.5px;
  fill-rule: evenodd;
  padding: auto;
}

.sesion-mobile{
  font-family: Poppins-Medium;
  font-size: 17px;
  color: #333;
}

.header-v4 .container-menu-desktop {
  height: 85px;
}

.banner{
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #1f1f1fc2;
}

.banner:before{
  position: absolute;
  opacity: 0.5;
  content: '';
  top: 0;
  width: 100%;
  height: 100%;
  background: url(/images/nosotros.png?53265227ace2d8b9c772f6ecf3461c8e) center / cover;
}

.banner h2{
  position: relative;
}
